.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #90ee90;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .navbar-links a {
    color: blue;
    text-decoration: none;
  }
  